body{
  background-color: grey;
}

p{
  text-align: justify;
}
h3{
  padding-left: 15px;
}
h5{
  line-height:0.1;
  padding-bottom:5px;
}

.content{

}

.profile{

  float: left;
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow:0 2px 5px 0;
  padding: 0 5px;
  margin-bottom: 10px;
}

.profile:hover{
  background-color: rgb(204, 204, 204);
}

.timeline{
  width: 100%;
  float: left;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  box-shadow:0 2px 5px 0;
  padding:0 5px;

}

.timeline:hover{
  background-color: rgb(204, 204, 204);
}

.school{
  width: 100%;
  float: left;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  box-shadow:0 2px 5px 0;
  padding:0 5px;

}

.school:hover, .skill:hover{
  background-color: rgb(204, 204, 204);
}

.project{
  width: 100%;
  float: left;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top:25px;
  box-shadow:0 2px 5px 0;
  padding:0 5px;
  width: 33%;
}

.skill{
  width: 100%;
  float: left;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top:25px;
  box-shadow:0 2px 5px 0;
  padding:0 5px;
}
.grey-skill{
  background: grey;
}
.green-skill{
  background: green;
}

@media screen and (max-width: 600px){
  .content{
    width: 100%;
  }
}

@media (min-width:600px){
  .profile, .skill{
    width: 30%;
  }
  .school, .project, .timeline{
    width: 67%;
  }

}
